// backgrounds

$color-greenish: forestgreen;
$color-yellowish: #e4b011;
$color-light-blueish: #66b4a8;
$loader-background: rgba(138, 138, 138, 0.5);

// fonts

$dark-font: #1d291d;
$light-font: #808080;
$error: #ff0000;

// border

$dark-border: #383636;
$dark-border-shadow: rgba(0,0,0,0.75);