@import "./colors.scss";

* {
  box-sizing: border-box;
}

//fonts:
$font-primary: 'Patrick Hand', cursive;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px gray inset !important;
}

.col-1 {
  width: Calc(100% / 12);
  padding: 5px;
}

.col-2 {
  width: Calc(100% / 6);
  padding: 5px;
}

.col-3 {
  width: 25%;
  padding: 5px;
}

.col-4 {
  width: Calc(100% / 3);
  padding: 5px;
}

.col-5 {
  width: Calc((100% / 12) * 5);
  padding: 5px;
}

.col-6 {
  width: 50%;
  padding: 5px;
}

.col-7 {
  width: Calc((100% / 12) * 7);
  padding: 5px;
}

.col-8 {
  width: Calc((100% / 12) * 8);
  padding: 5px;
}

.col-9 {
  width: Calc((100% / 12) * 9);
  padding: 5px;
}

.col-10 {
  width: Calc((100% / 12) * 10);
  padding: 5px;
}

.col-11 {
  width: Calc((100% / 12) * 11);
  padding: 5px;
}

.col-12 {
  width: 100%;
  padding: 5px;
}

.row {
  display: flex;
  width: 100%;
}

.center-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-text {
  position: absolute;
  font-size: 12px;
  top: 60px;
  left: 5px;
  color: $error;
}
