.calendar-container {
  width: 80vw;
  box-sizing: border-box;
  margin: 0 auto;

  .box {
    background-color: #fff;
    padding: 10px 10px;
    .inputs-row {
      display: flex;
      justify-content: space-between;
      .input-kcal {
        width: 30%;
      }
    }
  }
  .day-wrapper {
    width: 400px;
    margin: 10px;
    padding: 5px 10px;
    margin: 0 auto;
  }
  .days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


@media only screen and (min-width: 1050px) {
  .calendar-container {
    .day-wrapper {
      margin: 0;
    }
  }
}














// .row {
    // display: flex;
    // [class*="col-"] {
    //   width: 100%;
    //   min-height: 1px;
    //   padding: 10px 10px;
    // }
    // @for $i from 1 through 12 {
    //   .col-#{$i} {
    //     flex: 0 0 (100%/12) * $i;
    //   }
    // }
  // }